.header {
    padding: 2%;
    text-align: center;
    background-color: #cee5ed;
    background-attachment: fixed;
    background-size: cover;
    font-size: 145%;
    font-family: "Times New Roman", Times, serif;
}

.content {
    padding: 2%;
    text-align: center;
    font-size: 100%;
}

.title-box {
    background-color: #cee5ed;
    width: 30%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    background-color: white;
    width: 17%;
    border: 10px solid #cee5ed;
    padding: 1%;
    margin: 3%;
    border-radius: 25px;
}

.centered-box {
    background-color: white;
    width: 17%;
    border: 10px solid #cee5ed;
    padding: 1%;
    margin: auto;
    border-radius: 25px;
}
.image-left {
    float: left;
    margin: 2%;
    width: 22%;
}

.about-box{
    background-color: white;
    width: 60%;
    border: 10px solid #cee5ed;
    padding: 1%;
    margin: auto;
    border-radius: 25px;
    text-align: left;
    overflow: hidden;
}

.skills-images {
    width: 20%;
    height: 12%;
    border-radius: 5px;
    object-fit: cover;
    margin: auto;
    display: float;
    margin: 0 auto;
    max-width: 100%;
}

.skills-box {
    background-color: white;
    width: 15%;
    border: 10px solid #cee5ed;
    padding: 1%;
    margin: auto;
    border-radius: 25px;
    justify-content: flex;
    overflow: hidden;
}